/* About Page Header */
.about-page header {
  background-image: url(../../utils/images/about-page-header-img.jpg);
  background-size: cover;       /* make sure the image fills the whole header */
  background-position: center;  /* keep the important part centered */
  background-repeat: no-repeat; /* prevent tiling */
  height: 65vh;                 /* taller header for About page */
  display: flex;
  align-items: center;
  justify-content: center;
}