/* Menu Page Header */
.menu-page header {
  background-image: url(../../utils/images/menu-section-img.jpg);
  background-size: cover;       /* ensures image always covers the whole header */
  background-position: center;  /* keeps the important part of the image centered */
  background-repeat: no-repeat; /* no tiling */
  height: 50vh;                 /* adjust header height (you can tweak this if needed) */
  display: flex;
  align-items: center;
  justify-content: center;
}